/* details / summary blocks */
details {
  overflow: clip;
  padding-inline-start: 0;
}

details[open]::details-content {
  block-size: auto;
}

details::details-content {
  block-size: 0;
  transition: content-visibility 0.3s allow-discrete, height 0.3s ease-in-out;
}

summary {
  font-weight: var(--font-weight-bold);
  cursor: pointer;

  &::marker {
    content: '';
  }

  &::-webkit-details-marker { display: none }

  &::before {
    display: inline-block;
    font-size: 0.8em;
    text-align: center;
    vertical-align: baseline;
    content: '\25bc';
    inline-size: 1.5rem;
    color: var(--color-hint1);
    transition: transform 0.3s ease-out;
  }

  & > a, & > strong {
    display: inline-block;
  }

}

details:not([open]) > summary::before {
  transform: rotate(0deg);
}

details[open] > summary::before {
  transform: rotate(-540deg);
}

nav {

  ul, ol, li, details, summary {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  ul, ol {
    padding-inline-start: 1.5rem;
  }

  a:link, a:visited {
    text-decoration: none;
  }

  a:hover, a:active, a:focus {
    text-decoration: underline;
  }

  strong {
    color: var(--color-fore2);
  }

}
