/* print styles */
@media print {

  *,
  *::before,
  *::after {
    font-size: 12px !important;
    color: #000 !important;
    background-color: #fff !important;
    border-color: #888 !important;
    text-decoration-color: #888 !important;
  }

  *::before,
  *::after {
    font-size: 10px !important;
  }

  header, footer, nav-heading, video, .hero, .menudir, .breadcrumb, .wordcount, .headlink, .posttags, .backnext, .related, .pagination, .share, .button {
    display: none !important;
  }

  main, main > * {
    inline-size: 100% !important;
    max-inline-size: none !important;
    padding-inline: 0 !important;
    margin-inline: 0 !important;
  }

  h1 { font-size: 22px !important; }
  h2 { font-size: 18px !important; }
  h3 { font-size: 14px !important; }

  main {
    column-width: 24em;
    column-gap: 4em;
    padding-block: 0 !important;

    header {
      display: block !important
    }
  }

  th {
    font-weight: bold;
  }

  aside, blockquote {
    padding-inline-start: 1em !important;
  }

  .filename {

    margin-block-start: 0.5em;
    margin-block-end: 0;

    dfn {
      min-inline-size: none !important;
      font-size: 12px !important;
      padding: 0 !important;
      border: 0 none;

      &::before {
        display: none !important;
      }
    }

  }

  pre, code {
    font-size: 12px !important;
    white-space: pre-wrap !important;
    word-break: break-all !important;
  }

  h1, h2, h3 {
    code {
      font-size: inherit !important;
    }
  }

  code {
    padding: 0 !important;
    border: 0 none !important;
  }

  pre {
    padding-inline: 0.5em !important;
    padding-block: 4px !important;
    margin-block: 1em !important;
    border: 1px solid #888;
    border-radius: 3px !important;
  }

  .filename + pre[class*="language-"] {
    margin-block-start: 0.2em !important;
  }

  a:link, a:visited {
    text-decoration: none;
  }

  ::marker {
    color: #000 !important;
  }

  nav.featurelist, nav.pagelist {

    grid-template-columns: 1fr !important;

    a:link, a:visited {
      padding: 0;
      border: 0;
      border-radius: 0;
      box-shadow: none;
    }

  }

  article, section, aside, blockquote, table, img, picture, figure, svg, li, pre {
    break-inside: avoid;
  }

  h2 + *, h3 + * {
    break-before: avoid;
  }

  main a[href^="http"]:not([class])::after {
    content: " (" attr(href) ")";
    font-size: 12px !important;
    font-style: italic;
  }

}
