.tablescroll {
  overflow-x: auto;
}

table {
	font-size: 1em;
	font-variant-numeric: tabular-nums;
	table-layout: auto;
	border-spacing: 0;
	border-collapse: collapse;
	empty-cells: show;
  margin-block: 1em 1.5em;
}

th, td {
  text-align: start;
	vertical-align: top;
  padding-block: 0.4em;
  padding-inline: 0.6em;
  margin: 0;
  border: 0 none;

  &.center { text-align: center; }
  &.right { text-align: end; }
}

thead {
  background-color: var(--color-back3);
}

th {
  font-weight: var(--font-weight-bold);
}

tbody > :nth-child(even) {
  background-color: var(--color-dark);
}
