/* default variables */
:root {
  --font-body: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  --font-head: --var(font-body);
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-weight-normal: 300;
  --font-weight-bold: 600;
  --font-weight-head: 400;

  --fsize--2: clamp(0.7813rem, 0.7068rem + 0.3307vw, 0.9549rem);
  --fsize--1: clamp(0.9375rem, 0.8482rem + 0.3968vw, 1.1458rem);
  --fsize-0: clamp(1.125rem, 1.0179rem + 0.4762vw, 1.375rem);
  --fsize-1: clamp(1.35rem, 1.2214rem + 0.5714vw, 1.65rem);
  --fsize-2: clamp(1.62rem, 1.4657rem + 0.6857vw, 1.98rem);
  --fsize-3: clamp(1.944rem, 1.7589rem + 0.8229vw, 2.376rem);
  --fsize-4: clamp(2.3328rem, 2.1106rem + 0.9874vw, 2.8512rem);
  --fsize-5: clamp(2.7994rem, 2.5328rem + 1.1849vw, 3.4214rem);

  --header-height: 4rem;
  --layout-width: 55rem;
  --layout-margin: min(3vw, 3rem);
  --layout-list: 3;
  --layout-list-width: calc( (var(--layout-width) - var(--layout-margin) * var(--layout-list)) / var(--layout-list) );
  --main-width: min(var(--layout-width), 100% - (2 * var(--layout-margin)));
  --header-fix-height: calc(var(--header-height) + var(--layout-margin));

  --color-fore1: light-dark(#353841, #c0c2c7);
  --color-fore2: light-dark(#151719, #fffff0);
  --color-fore3: light-dark(#014d8a, #bdc3ff);

  --color-back1: light-dark(#fff, #151719);
  --color-back2: light-dark(#f2f4f6, #252729);
  --color-back3: light-dark(#cfe6fc, #171d4f);

  --color-hint1: light-dark(#0065da, #60a5fa);

  --color-dark: rgba(0,0,0,0.15);
  --color-shadow: rgba(0,0,0,0.5);

  --color-code-fore: light-dark(#393a34, #c5c8c6);
  --color-code-back: light-dark(#f2f4f6, #1d1f21);
  --color-code-border: light-dark(#ddd, #393d41);
  --color-code-line: light-dark(#999, #555);
  --color-code-comment: light-dark(#008000, #8c8c8c);
  --color-code-punc: light-dark(#88f, #c5c8c6);
  --color-code-keyword: light-dark(#9a050f, #96cbfe);
  --color-code-class: light-dark(#00f, #ffffb6);
  --color-code-const: light-dark(#06f, #99cc99);
  --color-code-symbol: light-dark(#36acaa, #f92672);
  --color-code-number: light-dark(#36acaa, #ff73fd);
  --color-code-string: light-dark(#a31515, #a8ff60);
  --color-code-var: light-dark(#c6c5fe, #c6c5fe);
  --color-code-op: light-dark(#393a34, #ededed);
  --color-code-attr: light-dark(#0000ff, #f9ee98);
  --color-code-function: light-dark(#393a34, #dad085);
  --color-code-regex: light-dark(#f00, #e9c062);
  --color-code-important: light-dark(#e90, #fd971f);

  --border-radius1: 5px;

  /* static-search styles */
  --staticsearch-fontsize: var(--fsize-0);

  --staticsearch-color-back: color-mix(in srgb, var(--color-back2), transparent 40%);
  --staticsearch-color-border: var(--color-back2);

  --staticsearch-color-fore0: var(--color-fore1);
  --staticsearch-color-fore1: var(--color-fore2);
  --staticsearch-color-fore2: var(--color-fore3);

  --staticsearch-color-link: var(--color-hint1);
  --staticsearch-color-visited: color-mix(in srgb, var(--color-fore3), var(--color-fore2) 20%);

  --staticsearch-color-shadow: var(--color-shadow);
  --staticsearch-color-backdrop: color-mix(in srgb, var(--color-back1), transparent 10%);
  --staticsearch-backdrop-blur: 0;

}

html, html[data-theme="light"], html:has(input[name="themeswitcher"][value="light"]:checked) {
	color-scheme: light;

  @media (width < 600px) or (height < 600px) {
    --font-weight-normal: 350;
  }
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

html[data-theme="dark"], html:has(input[name="themeswitcher"][value="dark"]:checked) {
	color-scheme: dark;
}
