body > header {

  position: relative;
  inline-size: 100%;
  block-size: var(--header-height);
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  align-content: center;
  padding-block: 0;
  padding-inline: var(--layout-margin);
  background-color: var(--color-back2);
  z-index: 10;

  a:link, a:visited {
    text-decoration: none;
    color: var(--color-fore2);
  }

  a:hover, a:active, a:focus {
    color: var(--color-hint1);
  }

}

#logo {

  inline-size: 10em;
  align-content: center;
  margin: 0;
  margin-inline-end: auto;

  svg {
    inline-size: 100%;
    block-size: auto;
    fill: var(--color-fore3);
  }

}

static-search {

  align-content: center;

  &::part(startsearch) {
    color: var(--color-fore2);
  }

  &::part(startsearch):hover, &::part(startsearch):focus, &::part(startsearch):active {
    color: var(--color-hint1);
  }

  &::part(startsearchicon) {
    inline-size: 1.5em;
    block-size: auto;
  }

  &::part(dialog) {
    backdrop-filter: blur(5px);
  }

}

.themeswitcher {

  position: relative;
  inline-size: 1.3em;
  align-content: center;

  input, span {
    position: absolute;
    clip: rect(0 0 0 0);
    inline-size: 1px;
    block-size: 1px;
    overflow: hidden;
  }

  label {
    position: absolute;
    inset-block-start: 50%;
    transform: translateY(-50%);
    opacity: 0;
    cursor: pointer;
    pointer-events: none;
    transition: opacity 0.3s linear;
  }

  input:checked + label {
    opacity: 1;
    pointer-events: all;
  }

  svg:hover, svg:focus, svg:active {
    stroke: var(--color-hint1);
  }

  &:focus-within:has(:focus-visible) label {
    outline-color: color-mix(in srgb, var(--color-hint1) 50%, transparent);
    outline-style: solid;
    outline-offset: 0.2em;
    outline-width: 0.2rem;
  }

}

@media (height > 600px) {

  body > header {
    position: fixed;
    inset-block-start: 0;
  }

  main {
    padding-block-start: var(--header-fix-height);
  }

  h1, h2, h3 {
    scroll-margin-top: var(--header-fix-height);
  }

}
