.iconlinks {

  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 0.8em;
  margin-block-start: 1em;

  li, a, svg {
    padding: 0;
    margin: 0;
  }

  li {
    inline-size: 1.5em;
    align-content: center;
    list-style-type: none;
  }

  svg {
    inline-size: 100%;
    block-size: auto;
  }

}
