/* lists of pages */
nav.pagelist {

  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat( auto-fit, minmax(var(--layout-list-width), 1fr));
  gap: max(1em, var(--layout-margin));
  margin-block: var(--layout-margin);

  a:link, a:visited {
    display: block;
    block-size: 100%;
    text-decoration: none;
    padding-block: 0.6em;
    padding-inline: 1em;
    color: var(--color-fore1);
    border: 1px solid var(--color-back2);
    border-radius: var(--border-radius1);
    box-shadow: 0 1px 3px var(--color-shadow);
  }

  a:hover, a:active, a:focus {
    background-color: var(--color-back3);
    border-color: var(--color-hint1);
  }

  h2, h3, h4, h5, h6 {
    font-size: var(--fsize-1);
    margin: 0;
  }

  p {
    font-size: var(--fsize--1);
    padding-block-end: 0.5em;
    margin-block: 0.5em;
    border-block-end: 1px dotted var(--color-back2);
  }

  p.pubdate, p.wordcount {
    font-size: var(--fsize--2);
    text-align: end;
    padding: 0;
    margin: 0;
    border: 0 none;
    color: var(--color-fore3);
  }

}

@media screen and (width > 900px) {
  nav.pagelist:has(> :nth-child(4)) a {
    min-block-size: 12em;
  }
}
