${ include('_partials/htmlhead.html') }
${ include('_partials/header.html') }

${ data.directory === 'docs' ? `<nav class="menudir">${ tacs.fn.nav.menuDir( data.link, 'docs' ) }</nav>` : '' }
${ data.directory === 'tools' ? `<nav class="menudir">${ tacs.fn.nav.menuDir( data.link, 'tools' ) }</nav>` : '' }

<main>

  ${ include('_partials/title.html') }

  <nav-heading title="Contents" class="pagecontents"></nav-heading>

  ${ include('_partials/hero.html') }

  ${ data.content }

  ${ include('_partials/schema.html') }

  ${ include('_partials/recipes.html') }

</main>

${ include('_partials/share.html') }

${ include('_partials/backnext.html') }

${ include('_partials/related.html') }

${ include('_partials/htmlfoot.html') }
