${ include('_partials/htmlhead.html') }
${ include('_partials/header.html') }

${ data.directory === 'docs' ? `<nav class="menudir">${ tacs.fn.nav.menuDir( data.link, 'docs' ) }</nav>` : '' }
${ data.directory === 'tools' ? `<nav class="menudir">${ tacs.fn.nav.menuDir( data.link, 'tools' ) }</nav>` : '' }

<main>

  ${ data?.pagination &&
    `<h1>${ data.title }${ data.pagination.pageTotal > 1 ? `, page ${ tacs.fn.format.number( data.pagination.pageCurrent1 ) } of ${ tacs.fn.format.number( data.pagination.pageTotal ) }` : ''}</h1>`
  }

  ${ data.content }

  ${ include('_partials/list.html') }

</main>

${ include('_partials/htmlfoot.html') }
