
<script type="application/ld+json">{
"@context": "http://schema.org/",
"@type": "TechArticle",
"proficiencyLevel": "beginner",
"headline": "${ data.title }",
"description": "${ data.description }",
"datePublished": "${ tacs.fn.format.dateISO( data.date ) }T00:00:00+00:00",
"dateModified": "${ tacs.fn.format.dateISO( data.modified || data.date ) }T00:00:00+00:00",
"mainEntityOfPage": { "@type": "WebPage", "@id": "${ tacs.config.domain }${ data.link }"},
"image": "${ tacs.config.domain }${ tacs.root }${ data.hero || 'favicon512.png' }",
"author": { "@type": "Person", "name": "${ data.author || tacs.config.author || 'Craig Buckler' }", "url": "${ data.authorUrl || tacs.config.authorUrl || 'https://craigbuckler.com/' }" },
"inLanguage": "${ tacs.config.language }",
"contentLocation": "online",
"accessMode": ["textual"],
"accessModeSufficient": "textual",
"isFamilyFriendly": true,
"wordCount": "${ data.wordCount }"
}</script>
